@use '../partials/tools' as *;
@use '../partials/assembler/' as *;

// ----------------------
/* mediaqueries */
// ----------------------

// @include mQdefault($width-Max) {
//     :root {
//         --font-size: #{$font-size-100};
//         --heading-L: #{$heading__L--Max};
//     }

// }

@include mQmni {
    .container {
        padding-block: em(30, 14.4) em(30, 14.4);
        padding-inline: em(0, 14.4);
    }
    header {
        padding-inline: em(10, 14.4);
    }
}
